<%-include('layouts/navbar.ejs')-%>
<div class="container col-md-5 col-sm-12 text-center">
    <ol class="breadcrumb lighten-6 text-center">
        <li class="breadcrumb-item"><a href="/user/categeroy/Business">Bussiness</a></li>
    	<li class="breadcrumb-item"><a href="/user/categeroy/Entertainment">Cinema</a></li>
        <li class="breadcrumb-item active"><a href="/user/categeroy/Health">Health</a></li>
        <li class="breadcrumb-item active"><a href="/user/categeroy/Science">Science</a></li>
        <li class="breadcrumb-item active"><a href="/user/categeroy/Sports">Sports</a></li>
        <li class="breadcrumb-item"><a href="/user/categeroy/technology">Technology</a></li>
    </ol>
</div>
<br>
<div class="container">
    <%newsData.articles.forEach(data=>{%>
    <div class="row">
        <!-- Grid column -->
        <div class="col-lg-5">

            <!-- Featured image -->
            <div class=" rounded z-depth-1 mb-lg-0">
                <img class="img-fluid" src="<%=data.urlToImage%>" alt="No-Image">
            </div>

        </div>
        <div class="col-lg-7">
            <!-- Post title -->
            <h4 class="font-weight-bold mb-3"><strong><%=data.title%></strong></h4>
            <!-- Excerpt -->
            <p><%=data.description%></p>
            <!-- Post data -->
            <%if(data.author==null||data.author==''){%>
            <p>by <a><strong>Unknown</strong></a></p>
            <%}else{%>
            <p>by <a><strong><%=data.author%></strong></a></p>
            <%}%>
            <!-- Read more button -->
            <form method="POST" action="/user/save" style="float: inline;">
                <input type="hidden" value="<%=data.urlToImage%>" name="urlToImage">
            <input type="hidden" value="<%=data.url%>" name="url">
            <input type="hidden" value="<%=data.author%>" name="author">
            <input type="hidden" value="<%=data.title%>" name="title">
            <input type="hidden" value="<%=data.description%>" name="description">
            <a class="btn btn-success btn-md btn-rounded mx-0" style="cursor: pointer;" target="_blank"
                href="<%=data.url%>">Read
                more</a>
            <button type="submit" class="btn btn-success btn-md btn-rounded mx-0" style="cursor: pointer">Save</button>
            </form>
            </a>
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <hr class="my-5">
    <%})%>
</div>
<%-include('layouts/footer.ejs')-%>